{% extends 'base.html' %}

{% block title %}
Game
{% endblock %}

{% block head %}
    <script src="{{ app.router.static.url(filename='js/Tween.js') }}"></script>
    <script src="{{ app.router.static.url(filename='js/pixi.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="main"></div>
{% endblock %}

{% block footer %}
    <script src="{{ app.router.static.url(filename='js/game.js') }}"></script>
{% endblock %}