{% extends 'base.html' %}

{% block title %}
Lobby
{% endblock %}

{% block head %}
    <link href="{{ app.router.static.url(filename='css/bootstrap.css') }}" rel="stylesheet">
    <script src="{{ app.router.static.url(filename='js/ajax.js') }}"></script>
    <script src="{{ app.router.static.url(filename='js/bootstrap.js') }}"></script>
    <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    </style>
{% endblock %}
{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Lobby</a></li>
        <li><a href="#">Rooms</a></li>
        <li><a href="#">Cards</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ '/register' if not loggedIn else '/logout'}}">
              <span class="glyphicon glyphicon-log-in"></span>
              {{ 'Login' if not loggedIn else 'You logged in as %s (Log Out)' % user}}</a>
          </li>
      </ul>
    </div>
  </div>
</nav>

<div id="topImage" class="col-sm-12">
    <img src="http://img-cache.cdn.gaiaonline.com/2b8137307189c63d50f6b5020dfa40f7/http://i1249.photobucket.com/albums/hh502/angelicpoptart/tumblr_static_tumblr_static_pokemon_banner_zps53002d61.png" class="img-responsive" style="width:100%" alt="Image">
</div>

<div class="container text-center">
  <h1>The name of my game</h1><br>
  <div class="row">
    <div class="col-sm-4" onclick="window.location='/game';">
      <img src="https://i.ytimg.com/vi/e2reVVRdLTE/maxresdefault.jpg" class="img-responsive" style="width:100%" alt="Image">
      <h3>Create New Game</h3>
    </div>
    <div class="col-sm-4">
      <img src="https://s-media-cache-ak0.pinimg.com/originals/d6/9c/c0/d69cc003e6dc6f39523c80b5a3675420.png" class="img-responsive" style="width:100%" alt="Image">
      <h3>Find Game</h3>
    </div>
    <div class="col-sm-4">
      <div class="well">
       <p>Here will be some cool description about this game</p>
      </div>
    </div>
  </div>
</div><br>
{% endblock %}

{% block footer %}
{% endblock %}