{% extends 'base.html' %}

{% block title %}
Games
{% endblock %}

{% block head %}
    <link href="{{ app.router.static.url(filename='css/auth.css') }}" rel="stylesheet">
    <script src="{{ app.router.static.url(filename='js/ajax.js') }}"></script>
    <script src="{{ app.router.static.url(filename='js/auth.js') }}"></script>
{% endblock %}

{% block content %}
    <<div class="form">
        <ul class="tab-group">
            <li class="tab active"><a href="#signup">Sign Up</a></li>
            <li class="tab"><a href="#login">Log In</a></li>
        </ul>
        <div class="tab-content">
            <div id="signup">
                <h1>Sign Up for Free</h1>
                <form id="register_form">
                    <div class="field-wrap">
                            <label>
                                Username<span class="req">*</span>
                            </label>
                            <input type="text" required autocomplete="off" id="username"/>
                        </div>
                    <div class="field-wrap">
                        <label>
                            Email Address<span class="req">*</span>
                        </label>
                        <input type="email" required autocomplete="off" id="email"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Set A Password<span class="req">*</span>
                        </label>
                        <input type="password" required autocomplete="off" id="password"/>
                    </div>
                    <p class="forgot" id="error_message"><a href="#"></a>&zwnj;</p>
                    <button id="register_btn" class="button button-block" />Get Started</button>
                </form>
            </div>
            <div id="login">
                <h1>Welcome Back!</h1>
                <form id="login_form">
                    <div class="field-wrap">
                        <label>
                            Username<span class="req">*</span>
                        </label>
                        <input type="text" required autocomplete="off" id="l_username" />
                    </div>
                    <div class="field-wrap">
                        <label>
                            Password<span class="req">*</span>
                        </label>
                        <input type="password" required autocomplete="off" id="l_password"/>
                    </div>
                    <p class="forgot" id="l_error_message"><a href="#"></a>&zwnj;</p>
                    <button id="login_btn" class="button button-block" />Log In</button>
                </form>
            </div>
        </div>
        <!-- tab-content -->
    </div>
    <!-- /form -->
{% endblock %}

{% block footer %}

{% endblock %}